.edit-functionalities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    height: 60px;
}

#edit-link {
    text-decoration: none;
    margin: 0.6em 1em 0 0;
    color: #000000;
    background-color: #d0cfcf;
    border-radius: 0.4em;
    padding: 0.2em;
    width: 45px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
    text-align: center;
}

#edit-link:hover {
    color: black;
    background-color: #CCFF00;
    padding: 0.2em;
}

#delete-link {
    text-decoration: none;
    margin: 0.6em 1.5em 0 0;
    color: #000000;
    background-color: #d0cfcf;
    padding: 0.2em;
    border-radius: 0.3em;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

#delete-link:hover {
    color: black;
    background-color: #CCFF00;
    padding: 0.2em;
}

.likes {
    margin: 0 1em 0em 1em;
    display: flex;
    align-items: center;
    background-color: #666565;
    margin-top: 0.5em;
    width: 11em;
    padding: 0.2em;
    border-radius: 0.3em;
}

.likes label {
    color: #d0cfcf;
    margin-right: 0.3em;
}

.likes #likes {
    width: 4em;
    padding: 0;
    background: none;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
}

.likes button {
    cursor: pointer;
}

.likes button {
    width: 3.8em;
    background: none;
    border: none;
}

#likes-btn {
    background-color: #CCFF00;
    border-radius: 0.3em;
    color: #000000;
}

.popup {
    position: absolute;
    top: calc(60% + 50px);
    left: 28.7%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #646363;
    border: 2px solid #ff0400;
    border-radius: 5px;
    max-height: 120px;
    width: 200px;
    overflow-y: auto;
}